extend ./layout/layout.jade

block  mainVars
  - title = index.title
  - author = 'author'
  - description = 'description'
  - keywords = 'keywords'
  - page_class = 'top'
block content
  #slider
    ul
      - for (var i = 1; i < 6; i++)
        li
          img(src="image/mainimg#{i}.jpg")

  input#start(type="button", value="start")
  input#stop(type="button", value="stop")
